<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Forms</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

  <main class="container">

    <div class="row g-1">

    {% load crispy_forms_tags %}

      <div class="col">
        <h3 class="my-3">Register</h3>
        <form action="registration" method="POST">
          {% csrf_token %}
            {{ register_form | crispy }}
          <input type="submit" value="Register">
        </form>
      </div>
      
      <div class="col">
        <h3 class="my-3">Log in</h3>
        <form action="login" method="POST">
          {% csrf_token %}
            {{ login_form | crispy }}
          <input type="submit" value="Login">
        </form>
      </div>

    </div>

  </main>
  
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
